body {
  margin: 0 auto;
  padding: 100px 50px 0px;
  text-align: center;
  background-color: rgb(226, 212, 212);
  width: 1440px;
  max-width: 100%;    
}

ul,
li {
  list-style: none;
}

nav {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px; 
  background-color: rgb(127, 233, 41);
  opacity: 0.5;
  position: fixed; 
  top: 10px;
  left: 10px;
  right: 10px;
  border-radius: 10%;
  border: 3px solid grey; 
  max-width: 100%;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;  
}
nav li {
  margin-right: 20px;
}
img {
  height: 200px;
  }

pre {
    width: 20%;  
}

section {
  font-size: 20px;
  border: 1px solid black;
  border-radius: 20%;
  padding: 50px 0 0;
  margin: 40px 0;
}

.skills {
  background-color: #00c3ffc2;
  }

.education {
  background-color: orange;
  }

.courses {
  background-color: yellow;
  }

.english {
  background-color: gray;
 }

.me {
  background-color: #00ff8036;
 }
footer {
 display: flex; 
 justify-content: space-between;
 align-content: center;
 padding: 50px 70px;
}

footer img { 
  width: 100px;
  height: 100px;
}
footer span {
  font-size: 25px;
  font-weight: 700;
  align-self: center;
}


